# Vizualização De Variáveis e Texto

In [ ]:
print("Conhecendo o comando Print")
x = 8
print(x)

Conhecendo o comando Print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = "Luiz Gomez"
print(nome)

Luiz Gomez

Concatenação

In [ ]:
x = 5
print("O valor de x é:",x)

O valor de x é : 5

In [ ]:
print("O valor de x é:", x, "e o dobro é:", x * 2)

O valor de x é: 5 e o dobro é: 10

In [ ]:
print("Eu,", nome, "tirei", x, "na prova de Python")

Eu, Luiz Gomez tirei 5 na prova de Python

In [ ]:
y = 10; z = 20 + x - y
print("Declarar várias váriaveis na mesma linha ", y, z)

Declarar várias váriaveis na mesma linha  10 15

Type

In [ ]:
x = 10
type(x)
print("x", type(x))

nome = "Luiz Gomez"
print("nome", type(nome))

num = "100"
num_convert = int(num) # Converter a variável
print("num", type(num))
print("num_convert", type(num_convert))

num_float = float(num)
print("num float", num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num float 100.0

Input

* Armazenar a informação digitada pelo usuário em uma variável
* O dado armazenado, sempre sserá um texto

In [ ]:
nome = input( "Digite o nome do Usuário: ") # Agaurdo o usuário digitar algo
print(nome)

In [ ]:
valor = input("Digite a nota: ")
print(nome, "Sua nota foi: ", valor)

In [2]:
valor = input("Digite o valor do produto: ")
print(valor)

Digite o valor do produto: 100
100

In [4]:
desconto = valor - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [11]:
valor_convert = int(valor)      # Geralmennte vai aplicar nesse modelo quando for usar essa variável (valor_convert)em outros lugares no seu código
desconto = valor_convert - 5
print(desconto)

95

In [10]:
desconto = int(valor) - 5   # Aplica desse modo quando for usar no mesmso lugar no código apenas em uma linha
print(desconto)

95