In [ ]:
# lista - São formada por colchetes - Lista, como tupla e dicionario pode  colocar qualquer tipo de conteúdo ex: coloquei um número inteiro [5], coloquei uma string "Luiz Gomez", coloqui um número flutuante 8.9
(1,2,3,4,5)

In [ ]:
# tupla -> Formada por parenteses
(1,2,3,4,5)

In [3]:
# dicionário -> Formado por chaves
{"num1": 1, "num2" : 2}

{'num1': 1, 'num2': 2}

# Lista

In [20]:
lista = [5, "Luiz Gomez", 8.9]

In [19]:
type(lista)

set

In [40]:
lista.append("August") # Adicionar um elemento na lista

In [34]:
print(lista)
print(lista[0]) #Pedi para imprimir o primeiro item da lita [0] -> (5)
print(lista[1]) # Pedi para imprimir o segundo item dessa lista [1] -> (Luiz Gomez)

[5, 'Luiz Gomez', 8.9, 'August']
5
Luiz Gomez

# Tupla

In [41]:
tupla = (5, "Luiz Gomez", 8.9) # Tupla-> Os valres não podem serem modificados
print(tupla)

(5, 'Luiz Gomez', 8.9)

In [38]:
type(tupla)

tuple

In [42]:
tupla.append("August") #Exemplo de ERRO - Na Tupla não permite adicionar informações, não podem serem modificadas

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
Parecido com uma lista porém pode usar qualquer valor

# Dicionário

In [49]:
dicionario = {"nome" : "Luiz Gomez", "cidade" : "São Paulo" }
type(dicionario)

dict

In [50]:
print(dicionario)

{'nome': 'Luiz Gomez', 'cidade': 'São Paulo'}